<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ_xjD-RuAKMYkt1qN05rWME21u_7D9gM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015743028858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instragramFlutter</string>
	<key>PROJECT_ID</key>
	<string>intragram-tt</string>
	<key>STORAGE_BUCKET</key>
	<string>intragram-tt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015743028858:ios:250ba320c7ff03d2eda5c3</string>
</dict>
</plist>